<%@title = 'Welcome'%>

<div id="shoebox">
	<img class="background" src="/img/texture/cardboard_3_2.jpg" />
	<canvas height="800"></canvas>
	<div class="loading">
		<img src="/img/ico/loading.gif" class="ico" /> Loading...
	</div>
	<div id="canvas">
		<img src="/img/ico/trash-empty.png" class="trash" />
	</div>
</div>
