<%@title = 'Welcome'%>

<div id="shoebox">
	<canvas id="overlay" height="800"></canvas>
	<div id="toolbar">
		<div class="container">
			<a href="http://1000memories.com/" class="logo-1000"><img src="/img/logo-1000.png" /></a>
			<div class="title">
				<input type="text">
			</div>
		</div>
	</div>
	<div class="loading">
		<img src="/img/ico/loading.gif" class="ico" /> Loading...
	</div>
	<div id="canvas">
		<div id="trash">
			<div class="text">
				<span>Drag a photo here to remove</span><br>
				<span class="full">(Click here to restore removed photos)</span>
			</div>
			<div class="background"></div>
		</div>
		<a href="http://momentusmedia.com" class="logo-mom"><img src="/img/logo-mom.png" /></a>
	</div>
	<img class="background" src="/img/texture/bkg-mid-res.jpg" />
</div>
<script>
	$(function() {
		PIC.fetch('<%=@set%>', <%=@size||false%>)
	})
</script>
