<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="/css/style.css" /> 

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script  type="text/javascript" src="/js/underscore-min.js"></script>

	<script  type="text/javascript" src="/js/code.js"></script>

	<script  type="text/javascript" src="/js/jQueryRotateCompressed.2.1.js"></script>
	<script  type="text/javascript" src="/js/jquery-ui-1.8.16.custom.min.js"></script>

	<script  type="text/javascript" src="/js/jquery-css-transform.js"></script>
	<script  type="text/javascript" src="/js/rotate3Di.js"></script>
	<script  type="text/javascript" src="/js/jquery.flip.min.js"></script>

	<title>SHOEBOX: <%=@query||@title%></title>
</head>
<body>
	<%=yield%>
</body>
</html>
